<footer class="footer">
  <div class="footer_div">
    <p>Footer text</p>
  </div>
  <div class="footer_div">
    <p>Footer text</p>
  </div>
  <div class="footer_div">
    <p>Footer text</p>
  </div>
</footer>