<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta content="">
<link rel="canonical" href="{{url}}" />
<title>{{title}}&mdash;{{subtitle}}</title>
<link href="css/style.css" rel="stylesheet">
<link href="images/favicon.png" rel="icon">
    