<header class="header">
  <div class="logo">
    <div class="logo_icon">
      <a href="/" title="Link to home page">
        <svg class="svg image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
          <polyline points="9 11 12 14 22 4"></polyline>
          <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
        </svg>
      </a>
    </div>
    <div class="logo_text">
      <h1 class="logo_title"><a href="/">{{title}}</a></h1>
      <h2 class="logo_subtitle">{{subtitle}}</h2>
    </div>
  </div>
  <nav class="navigation">
    <li class="navigation_item"><a href="#services">Services</a></li>
    <li class="navigation_item"><a href="#about">About</a></li>
    <li class="navigation_item"><a href="#">Random</a></li>
  </nav>
  {{> social}}
</header>