<div class="image-container">
	<div class="image-inner-container">
		<a href="images/{{fileName}}"><img src="images/{{fileName}}" alt="{{description}}" /></a>
		<div class="caption">
			<p>{{blurb}}</p>
		</div>
	</div>
</div>