/* COMPONENTS                                                               */

/* Header ------------------------------------------------------------------*/
.header {
  color: $primary-color-text;
  background-color: $primary-color;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .svg {
    color: inherit;
  }
}

@media (min-width: 768px) {}



/* Logo and Title ----------------------------------------------------------*/
.logo {
  flex: 1 0;
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  .logo_icon {
    flex: 0 1;
    // padding: 5px 10px 5px 0;
    margin-right: 15px;

    a {
      display: block;
    }

    .image {
      display: block;
      height: 50px;
      width: 50px;
      margin: 0px;
      padding: 0;
    }
  }

  .logo_title {
    flex: 1 0 auto;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
    padding: 5px 0;
  }

  .logo_subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: normal;
  }
}

/* Main Navigation ---------------------------------------------------------*/

.navigation {
  flex: 1 0 auto; // strech to full screen on small screen
  display: flex; // horizontal list
  list-style-type: none;
  margin: 0 30px 0 15px;
  padding: 5px 0;

  a {
    border-bottom: 1px dashed $primary-color-text;
    text-decoration: none;
    color: $primary-color-text;
  }

  a:hover {
    color: $primary-color-text;
    border: 0;

  }

  .navigation_item {
    flex: 1 0 auto;
    text-align: center;
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .navigation {
    flex-basis: auto; // fit horizontally on wide screen
    flex: 0 1 auto;
  }
}

/* Social Media and other Links --------------------------------------------*/
.social {
  display: none; // hidden on small screen
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  color: $primary-color-text;

  a {
    color: inherit;
    border-bottom: 1px dashed $primary-color-text;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 0;
  }

  .social_item {
    line-height: 1;
    padding: 0;
    margin: 6px 0;
  }

  .svg {
    padding: 0;
    margin-right: 8px;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    // border: 1px solid red;
  }
}

@media (min-width: 768px) {
  .social {
    display: block; // visible on large screen
  }
}

/* Page Content */
.content {
  a {
    // color: $secondary-text-color;
  }
}

/* Page */
.page {
  padding-bottom: 15px;
  min-height: 90vh;
  // border: 1px solid red;

  .page_container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .page-heading,
  .page-description {
    padding: 15px 0 0 0;
    margin: 0 15px;
  }

  .page-heading {
    text-align: center;
    font-family: $alt-font;

    .svg {
      height: 60px;
      width: 60px;
      color: inherit;
    }

  }

  &.alt {
    background-color: $primary-color-light;
  }

}

@media (min-width: 768px) {
  .page {
    // min-height: 50vh;

    .page_container {
      display: flex;
    }

    .page-heading {
      flex: 1 0;
      // flex-basis: 30%;
    }

    .page-description {
      flex: 2 0;
      // flex-basis: 70%;
    }

    h2 {
      margin: 0 0 15px 0;
      padding: 0;
    }

  }
}


/* Footer ------------------------------------------------------------------*/
.footer {
  background-color: $primary-color-dark;
  color: #FFFFFF;
  font-size: 0.875rem;
  padding: 20px 0;
  margin: 0;

  a {
    color: inherit;
  }

  .footer_div {
    margin: 0 15px 30px 15px;
  }

  .social {
    display: block; // display on footer
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;

    .footer_div {
      flex: 1 0;
    }
  }
}

/* Call to action ----------------------------------------------------------*/
.call-action {
  padding: 15px 0;
  font-family: $alt-font;

  .call-action_large {
    font-size: 1.5rem;
  }

  p {
    margin: 0.5em 0;
    padding: 0;
    line-height: 1.4;
    text-align: justify;
    font-size: 1rem;

  }
}

.big-list {
  list-style: square outside none;
  padding: 0;
  margin: 1em 22px;

  li {
    margin-bottom: 0.25em;
    font-size: 1.25rem;
  }
}

/* Gallery -----------------------------------------------------------------*/

.gallery {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    max-width: 100%;
    display: block;
  }

  .gallery_item {
    flex: 0 1 auto;
    margin: 5px;
  }
}

/* Shout Out ---------------------------------------------------------------*/

.shout-out {
  margin: 15px 0;
  padding: 15px;
  font-family: $alt-font;
  font-size: 1.5rem;
  text-align: center;
  color: $accent-color;
}