/* Fonts */
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/NotoSerif-Regular.ttf") format("ttf"),
    url("fonts/NotoSerif-Italic.ttf") format("ttf"),
    url("fonts/NotoSerif-BoldItalic.ttf") format("ttf"),
    url("fonts/NotoSerif-Bold.ttf") format("ttf");
}

$main-font: Helvetica, Arial, sans-serif;
$alt-font: "Noto Serif", Georgia, serif;
