@supports (position:sticky) {

  .header {
    position: sticky;
    top: 0;
  }

  /* Offset sticky header on achor targets */
  *:target:before {
    display: block;
    content: " ";
    height: 78px; // check and amend height 
    margin-top: -78px;
    visibility: hidden;
    background-color: white;
  }


  // .nav {
  //   flex: 1 0;
  //   margin: 0 15px;
  //   list-style-type: none;
  //   display: flex;

  //   .nav_item {
  //     flex: 1 0 auto;
  //     text-align: center;
  //     margin: 0 5px;
  //   }
  // }

  // .logo {
  //   flex: 0 0 auto;
  //   display: flex;
  //   align-items: center;

  //   .logo_icon {
  //     margin: 10px;
  //     padding: 0;
  //     display: block;
  //     height: 50px;
  //     width: 50px;
  //     transition: height 0.3s, width 0.3s, margin 0.3s;
  //   }

  //   .logo_title {
  //     margin: 0 5px;
  //     padding: 0;
  //     display: flex;
  //     opacity: 1;
  //     transition: opacity 0.3s, margin-left 0.5s 0.3s;

  //     h1,
  //     p {
  //       margin: 0 15px;
  //       padding: 0;
  //       font-size: 1rem;
  //     }
  //   }

  // }

  .logo_text {
    transition: opacity .1s;
  }

  .logo_subtitle {
    transition: margin-top .1s;
  }

  .logo_icon .image {
    transition: height .1s, width .1s;
  }

  .header {
    transition: padding .1s;
  }

  .header.shrunk {
    // font-size: 18px;
    padding: 2px 15px;

    .logo_text {
      opacity: 0;
      margin-left: -500px;
    }


      .logo_subtitle {
        margin-top: -20px;
      }

    .logo_icon .image {
      height: 20px;
      width: 20px;
    }

    .social {
      display: none;
    }
  }

}