@import 'colours';
@import 'fonts';

/* Basic/Common styles ---------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

p {
  margin: 0.5em 0;
}

body,
html {
  font-size: 16px;
  color: $primary-text-color;
  font-family: $main-font;
  line-height: 1.3;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  min-width: 300px;
  width: 100%;
}

@media (min-width: 768px) {

  body,
  html {
    font-size: 20px;
  }
}

@import 'components';
@import 'sticky';